name: Comment
on: push
jobs:
 comment:
  runs-on: ubuntu-latest
  permissions:
   pull-requests: write
   contents: read
  steps:
   - uses: actions/checkout@v4
   - run: gh pr comment "${GITHUB_HEAD_REF}" --body "Hello, ${GITHUB_ACTOR}"
     env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
